
@{
    ViewData["Title"] = "Index";
}

<h1 class=" text-capitalize text-center text-lg-center" >Expense Tracker Applicaton</h1>
<style>
    body{
        background-color:aquamarine;
    }
</style>

